<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @deck.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @deck.description %>
</p>

<p>
  <strong>Category:</strong>
  <%= @deck.category.name %>
</p>

<%= link_to 'Edit', edit_deck_path(@deck) %> |
<%= link_to 'Back', decks_path %>
